
{% extends 'navbar.html'%}

{% block content %}
  <body>
      <div class="second-container">
          <!-- Introduction...Who am I -->

          <figure class="text-center">
              <h3> Hello All!</h3>
              <img class="elcin-img" src="../static/images/elcin-img.png" alt="elcin-img">
              <h4> I am Elcin,</h4>
              <p></p>
              <h5> Freelance Landscape Architect based in Turkey.</h5>
              <blockquote class="blockquote">
                <p>Highly experienced in planning & designing custom households.</p>
              </blockquote>

            </figure>
      </div>

      <div class="third-container">
          <!--skills & past experiences-->
          <p>third Container</p>
          <p>Resume section. skills, experiences etc.</p>

      </div>

      <div class="fourth-container">
          <!--portfolio passpage like tindog
          maybe a more button to link another page-->
          <p>4th Container</p>
          <p>Portfolio examples</p>

      </div>

      <div class="bottom-container">
          <!--contact me, linkedin, insta pages etc.-->
          <p>bottom Container</p>
      </div>

    
  </body>

{% endblock %}