<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Elcin C. Hasmer</title>
        <link rel="stylesheet" href="../static/assets/css/styles.css">
        <link rel="favicon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
        <!-- font-family: 'Dosis', sans-serif; -->


    </head>

    <body>

        <div class="top-container">
            <!-- Initial Landing Page -->
            <p>Top Container</p>

        </div>

        <div class="second-container">
            <!-- Introduction...Who am I -->
            <p>second Container</p>


        </div>

        <div class="third-container">
            <!--skills & past experiences-->
            <p>third Container</p>

        </div>

        <div class="fourth-container">
            <!--portfolio passpage like tindog
            maybe a more button to link another page-->
            <p>4th Container</p>

        </div>

        <div class="bottom-container">
            <!--contact me, linkedin, insta pages etc.-->
            <p>bottom Container</p>
        </div>


    </body>


</html>